@{
    ViewBag.Title = "Home Page";
    int? idBuild = (int?)ViewBag.idBuild;
    string timKiem = ViewBag.TimKiem;
}
<div class="banner" style="background: url(https://static.homedy.com/src/images/home/banner-080719.jpg)">
    <div class="container box-content">
        <div class="box-right content-overview" id="Search">
            <div class="content-search">
                <div class="logo">Tìm kiếm tòa nhà</div>
                <div class="title">
                    @using (BDSEntities db = new BDSEntities())
                    {
                        var tongtoanha = db.BUILDINGs.Count();
                        <span>với hơn <strong>@tongtoanha</strong> dự án tại đây</span>
                    }

                </div>
                <div class="box-search">
                    <div class="tab-panel" id="tab_panel_search">
                        <div>
                            <form action="/Home/Index" method="get">
                                <div class="search-input">
                                    <input type="text" id="txtSearch" placeholder="Nhập địa điểm hoặc từ khóa (ví dụ: Vinhomes)" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" name="timkiem" class="ui-autocomplete-input">
                                </div>
                                <div class="search-button">
                                    <button type="submit" class="btn-search" id="btn_search">
                                        <span class="ic-search"></span>
                                        <span class="text">Tìm kiếm</span>
                                    </button>
                                </div>
                                <div class="clear"></div>
                            </form>
                        </div>
                        <!-- Autocomplete suggest -->
                        <div class="box-suggest" id="Suggest">
                            <div class="suggest-top">
                                <ul>
                                    <li><a href="javascript:void(0)" class="my-location-search" onclick="SearchByMyLocation()">Tìm theo vị trí của bạn</a></li>
                                    <li class="lable-fix" id="lable_suggest_top"><span>Từ khóa được vừa tìm</span></li>
                                </ul>
                                <ul id="ul_keyword_searched"></ul>
                                <ul id="ul_top_keyword"></ul>
                            </div>
                            <div class="suggest-keyword">
                                <ul id="ul_suggest_keyword" tabindex='1'></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tiện ích -->
<div class="project">
    <div class="container">
        <div class="box-title">
            <div class="col-sm-6 title-left">
                <div class="category-location-dropdown">
                    <h2 class="box-title-font" style="float: left;">Dự án nổi bật tại </h2>
                    <div class="location-dropdown pj-location-dropdown" style="float: left;">
                        <button type="button" class="dropdownlist box-title-font project-filter" onclick="pj_ShowLocationPopup()" id="pj_location" city-id="0">Hồ Chí Minh </button>
                        <div class="filter-popup filter-popup-city mb-popup">
                            <div class="title">
                                <div class="city-title" id="pj_city_title">Hồ Chí Minh</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="col-sm-8">
                @using (BDSEntities db = new BDSEntities())
                {
                    var lay4item = 0;
                    var list = db.BUILDINGs.Where(x => (idBuild == null || x.idBuild == idBuild) && (timKiem == null || x.nameBuild.ToLower().IndexOf(timKiem.ToLower()) >= 0)).ToList();
                    foreach (var item in list)
                    {
                        lay4item++;
                        if (lay4item >= 5)
                        {
                            break;
                        }


                        var hinh = db.IMAGEs.Where(x => x.idBuild == item.idBuild).FirstOrDefault();
                        var status = db.STATUS.Where(x => x.idStatus == item.idStatus).FirstOrDefault();
                        string GiaTien = String.Format("{0:N0}", item.price);
                        var xephang = db.TYPEs.Where(x => x.idType == item.idType).FirstOrDefault();
                        var tinhtrang = db.STATUS.Where(x => x.idStatus == item.idStatus).FirstOrDefault();
                        var huong = db.HUONGs.Where(x => x.idHuong == item.idHuong).FirstOrDefault();



                        <div class="project-carousel owl-carousel owl-theme" id="pj_item_aj">
                            <div class="pj-sell-panel">
                                <div class="pj-item border-radius-5px color-red">
                                    <a href="/Home/ChiTietToaNha/@item.idBuild" class="image-thumb" title="@item.nameBuild">
                                        <img class="lazy avatar" src="~/Images/@hinh.nameImage" />
                                        <div class="bg-opacity dangban">
                                            <span class="status-bg">@huong.nameHuong</span>
                                            <span class="status-icon"></span>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)" title="Yêu thích" data-Favorite="4631" class="cmd_save_to_wishlist add-wish" data-productId="4631" data-isStatus="0" data-productType="2"></a>
                                    <a href="/Home/ChiTietToaNha/@item.idBuild" class="project-name" title="Khu đô thị Aqua City">
                                        @item.nameBuild
                                    </a>
                                    <div class="ver-box-address info-address border-bottom">@item.street</div>
                                    <span class="ver-box-price info-price">
                                        <span style="color: red">Gía thuê: @GiaTien VNĐ</span>
                                    </span>
                                    <a href="tel:@item.phoneManager" target="_blank" class="info-icon info-investor ver-box-detail" title="">Liên hệ: @item.phoneManager  </a>
                                    <span class="info-acreage info-icon ver-box-detail" title="100, 120, 160, 220 m2">Diện tích:  @item.floorarea m<sup>2</sup></span>
                                    <span class="info-finish info-icon ver-box-detail">Thời hạn thuê: @item.depositDate Tháng</span>
                                    <span class="info-constructor info-icon ver-box-detail">@status.nameStatuts</span>
                                </div>

                            </div>
                        </div>
                    }
                }

            </div>
            @*<div class="col-sm-4">
                <div class="ads-right">
                    <div class="ads-370-200">
                        <div id="slot-1-hdy-banner-homepage-2__2__10003__370__200"></div>
                    </div>
                    <div class="ads-370-430">
                        <div id="slot-2-hdy-banner-homepage-3__3__10012__370__430"></div>
                    </div>
                </div>
            </div>*@
        </div>

        <p class="read-more">
            <a href="/Home/ListBuild" id="pj_read_more" title="Xem thêm tòa nhà">Xem thêm</a>
        </p>
    </div>
</div>

<div class="product-hoz" style="padding-top: 20px;">
    <div class="container">
        <h1>Tin tức bất động sản</h1>
        <div class="row" style="display: flex">
            @using (BDSEntities db = new BDSEntities())
            {
                foreach (var item in db.NEWS.ToList().GetRange(0, 4))
                {
                    string noidung = item.Description ?? "";
                    noidung = System.Text.RegularExpressions.Regex.Replace(noidung, "<.*?>", String.Empty);
                    if (noidung.Length > 250)
                    {
                        List<string> result = noidung.Substring(0, 250).Split(' ').ToList();
                        result.RemoveAt(result.Count() - 1);
                        noidung = string.Join(" ", result.ToArray()) + " ...";
                    }
                    <div class="col-3">
                        <div class="product-carousel owl-carousel owl-theme" id="p_item_aj">
                            <div class="p-item border-radius-5px color-red">
                                <a href="/Home/ChiTietTinTuc/@item.idNews" class="image-thumb" title="Ai cũng có thể mua nhà Vinhomes - Trả góp chỉ ngang tiền thuê nhà hàng tháng, Xem ngay thông tin">
                                    <img src="~/Images/@item.Img" />
                                    <div class="bg-opacity"></div>
                                    <span class="status"></span>
                                    <span class="hoz-box-title p-info-title">@item.titleNews</span>
                                    <span class="hoz-box-address p-info-address">@Html.Raw(noidung)</span>
                                </a>
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
        <p class="read-more">
            <a href="/Home/TinTuc" id="p_read_more" title="Mua bán nhà đất, Mua bán Bất động sản mới nhất">Xem thêm</a>
        </p>
    </div>
</div>
